.product-slider {
  padding: 3rem 1rem;
  background: #f9f9f9;
}

.product-slider-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--purple);
}



.product-slider-subtitle {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 2rem;
}

.slider-container {
  position: relative;
}


.custom-swiper-button-prev,
.custom-swiper-button-next {
  position: absolute;
  top: 55%;
  z-index: 10;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.781);
  border-radius: 0;
  padding: 10px;
  cursor: pointer;
  user-select: none;
}

.custom-swiper-button-prev {
  left: 10px;
}

.custom-swiper-button-next {
  right: 10px;
}



.product-slider-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 14px 14px 0 0;
  
}

.product-slider-details {
  padding: 1rem;
}
.product-slider-details ul {
  padding-left: 20px;
}

.product-slider-name {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.product-slider-desc {
  font-size: 0.7rem;
  color: #666;
  margin-bottom: 1rem;
}

.product-slider-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.product-slider-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--purple);
  margin: 0;
}



.manovedya-hero-about { 
  padding: 1rem 1rem;
 
  background-color: #fff;
}

.manovedya-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #6a1b9a;
  text-align: center;
  margin-bottom: 1rem;
}

.manovedya-description {
  text-align: center;
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 2rem;
}

.manovedya-subtitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 2rem;
}


.feature-title {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin-top: 1rem;
}

.feature-description {
  font-size: 0.8rem;
  color: #666;
  margin: 10;
}

.feature-highlight {
  font-size: 17px;
  font-weight: bold;
  color: #f57c00;
  margin-top: 0.5rem;
}

.manovedya-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 0.1rem;
}

.pro-sli{
  font-size: 12px;
  text-align: start;
  align-items: baseline;
}

.product-slider{
  position: relative;
}

@media only screen and (max-width: 768px) {
  .custom-swiper-button-prev {
    left: 0px;
  }
  
  .custom-swiper-button-next {
    right: 0px;
  }
  
  .product-slider-title {
    font-size: 1.9rem;
  }

  .product-slider {
    padding: 2rem 0rem;
    background: #f9f9f9;
  }
  .pro-sli{
    display: grid;
    gap: 0px;
    font-size: 14px;
    text-align: end;

  }
  .product-slider-details {
    padding: 0.5rem;
  }
  .product-slider-footer {
    display: block;
  }

  .product-slider-price {
    margin: 0;
    font-size: 22px;
  }
  .product-slider-desc{
    margin: 0;
  }
  .manovedya-description {
    text-align: justify;
    font-size: .9rem;
   
  }
  .manovedya-hero-about {
    padding: 2rem 0rem;
  }
  .manovedya-title {
    font-size: 1.5rem;
   
  }
  .feature-description {
    font-size: 12px;
    color: #666;
  }
  
}
